* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Calculator Container */
.calculator {
  background-color: #242530;
  padding: 3rem;
  width: 400px;
}

/* Calculator Display */
.calculator-display {
  background-color: #3a3f77;
  color: white;
  font-size: 2rem;
  text-align: right;
  padding: 2rem 1.5rem;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2rem 3rem #00000040;
  overflow-x: auto;
}

/* Grid Layout for Butttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

/* Base Button Styles */
.btn {
  font-size: 2.4rem;
  font-weight: 400;
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  color: #fff;
  background-color: #404258;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn:hover {
  background-color: #3c3d5c;
  transform: scale(1.05);
}

.btn:focus {
  outline: 2px solid #f49d1a;
  outline-offset: 2px;
}

/* BackSpace Button */
.btn-clear {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clear img {
  object-fit: contain;
}

/* Operator Buttons */
.btn-operator {
  background-color: #f49d1a;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  font-size: 3.2rem;
  font-weight: 500;
}

.btn-operator:hover {
  background-color: #f89f0a;
}

/* Clear All Input Button */
.btn-clear-all {
  background-color: #f49d1a;
  width: 5.5rem;
  height: 5.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  border-radius: 1.5rem;
  color: #fff;
  border-radius: 50%;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn-clear-all:hover {
  transform: scale(1.05);
}

/* Equal Button */
.btn-equal {
  background-color: #b2b2b2;
  color: #000000;
  font-size: 2.8rem;
  width: 5.5rem;
  height: 5.5rem;
  font-weight: 500;
  border-radius: 50%;
}

/* Arithemetic Operation History */
.calculator-history {
  margin-top: 3rem;
  background-color: #3a3f77;
  color: #fff;
  font-size: 1.4rem;
  padding: 2rem;
  border-radius: 1rem;
  max-height: 150px;
  overflow-y: auto;
}

/* Scrollbar Styling (WebKit browsers) */
.calculator-history::-webkit-scrollbar {
  width: 6px;
}

.calculator-history::-webkit-scrollbar-thumb {
  background-color: #f49d1a;
  border-radius: 10px;
}

.calculator-history h4 {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}
