/* ========= DEFINING VARIABLES IN THE ROOT PSEUDO CLASS ========= */
:root {
  /* FONT SIZE */
  --text-sm: 1.4rem;
  --text-disp: 2rem;
  --text-btn: 2.4rem;
  --text-btn-operator: 3.2rem;
  --text-btn-eq: 2.8rem;

  /* FONT-WEIGHT */
  --font-weight-small: 400;
  --font-weight-normal: 500;
  --font-weight-semi-bold: 600;

  /* FONT FAMILY */
  --font-family: "Inter", sans-serif;

  /* COLORS */
  --calc-bg: #242530;
  --calc-display-bg: #3a3f77;
  --disp-shadow: #00000040;
  --primary-base: #404258;
  --primary-shade: #3c3d5c;
  --secondary-base: #f49d1a;
  --secondary-shade: #f89f0a;
  --grey-base: #b2b2b2;
  --white: #fff;
  --black: #000000;

  /* OTHER VARIABLE */
  --body-height: 100vh;
}

/* ======UNIVERSAL SELECTOR====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--body-height);
  width: 100%;
  overflow: hidden;
}

/* Calculator Container */
.calculator {
  background-color: var(--calc-bg);
  padding: 3rem;
  width: 70rem;
}

/* Calculator Display */
.calculator-display {
  background-color: var(--calc-display-bg);
  color: var(--white);
  font-size: var(--text-disp);
  text-align: right;
  padding: 3rem 1.5rem;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2rem 3rem var(--disp-shadow);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Grid Layout for Butttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

/* Base Button Styles */
.btn {
  font-size: var(--text-btn);
  font-weight: var(--font-weight-small);
  width: 100%;
  max-width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  color: var(--white);
  background-color: var(--primary-base);
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn:hover {
  background-color: var(--primary-shade);
  transform: scale(1.05);
}

.btn:focus {
  outline: 0.2rem solid var(--secondary-base);
  outline-offset: 0.2rem;
}

/* BackSpace Button */
.btn-clear {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clear img {
  object-fit: contain;
}

/* Operator Buttons */
.btn-operator {
  background-color: var(--secondary-base);
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  font-size: var(--text-btn-operator);
  font-weight: var(--font-weight-normal);
}

.btn-operator:hover {
  background-color: var(--secondary-shade);
}

/* Clear All Input Button */
.btn-clear-all {
  background-color: var(--secondary-base);
  width: 100%;
  width: 9rem;
  height: 9rem;
  font-size: var(--text-btn);
  font-weight: var(--font-weight-semi-bold);
  border-radius: 1.5rem;
  color: var(--white);
  border-radius: 50%;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn-clear-all:hover {
  transform: scale(1.05);
}

/* Equal Button */
.btn-equal {
  background-color: var(--grey-base);
  color: var(--black);
  font-size: var(--text-btn-eq);
  width: 9rem;
  height: 9rem;
  font-weight: var(--font-weight-normal);
  border-radius: 50%;
}

/* Arithemetic Operation History */
.calculator-history {
  margin-top: 3rem;
  background-color: var(--calc-display-bg);
  color: var(--white);
  font-size: var(--text-sm);
  padding: 2rem;
  border-radius: 1rem;
  max-height: 150px;
  overflow-y: auto;
}

/* Scrollbar Styling (WebKit browsers) */
.calculator-history::-webkit-scrollbar {
  width: 6px;
}

.calculator-history::-webkit-scrollbar-thumb {
  background-color: var(--secondary-base);
  border-radius: 1rem;
}

.calculator-history h4 {
  margin-bottom: 0.5rem;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-normal);
}
