@media (max-width: 54rem) {
  /* 855px / 16px = 54rem */
  /* 54rem * 16px = 864px */

  html {
    font-size: 50%;
  }

  .calculator {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .calculator-display,
  .calculator-history {
    width: 100%;
  }

  .calculator-buttons {
    display: grid;
    width: 100%;
    gap: 1.2rem;
    padding: 0 1rem;
    grid-template-columns: repeat(5, 1fr);
  }

  .btn {
    width: 100%;
    max-width: 17rem;
    margin: 2px;
    border-radius: 7rem;
  }

  .btn-operator,
  .btn-clear-all,
  .btn-equal {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
  }
}

@media (max-width: 36rem) {
  /* 576px / 16px = 36rem */
  /* 36rem * 16px = 576px */

  html {
    font-size: 43.75%;
    /* 7px / 16px = 43.75% */
  }

  .btn {
    width: 100%;
    max-width: 10rem;
    /* min-width: 4.4rem;
    min-height: 4.4rem; */
    border-radius: 4rem;
  }

  .btn-operator,
  .btn-clear-all,
  .btn-equal {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  .calculator-display {
    font-size: clamp(1.6rem, 5vw, var(--text-disp));
    word-wrap: break-word;
  }
}

@media (max-width: 23rem) {
  /* 357px / 16px = 23rem */
  /* 23rem * 16px = 368px */

  html {
    font-size: 37.5%;
    /* 6px / 16px = 37.5% */
  }

  .btn {
    width: 100%;
    max-width: 9rem;
  }

  .btn-operator,
  .btn-clear-all,
  .btn-equal {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
}

@media (max-width: 15rem) {
  /* Very narrow devices */

  html {
    font-size: 31.3%;
  }

  .calculator-buttons {
    display: grid;
    grid-template-columns: 5 1fr;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
  }

  .btn {
    max-width: 100%;
    min-width: 0;
    aspect-ratio: 1;
  }

  .btn-operator,
  .btn-clear-all,
  .btn-equal {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
  }

  body {
    overflow: auto;
    height: 100%;
    width: 100%;
  }
}
